
<form (onkeydown)="onDown()">
<label for="Billno">Billno   :</label><input type="text"  name="billno"  placeholder="enter bill number" required  style="margin-left:5.4em" tabindex="1"/>
<label for="Type" style="margin-left:10.1em">Type </label>
<select name="type" style="width:150px;height:25px" tabindex="2" id="t">
    <option value="normal">Normal</option>
    <option value="Disabled">Disabled</option>
</select>
<input type='text'  id='date' style="float:right" tabindex="3" ><label for="date" style="float:right">Sale Date  </label>
<br>

<label for="customer">Customer</label> <input id="customer"  type="text" name="Customer"  tabindex="4"  onkeyup="onkeypressed()"  style="margin-left:4em"/>
<label for="Age/Gender" style="margin-left:7.3em">Age/Gender </label><input id="age"   type="text" name="Age" tabindex="5" size="5.5"/><select id="gender"  name="Gender"  tabindex="6">
      <option value="" readonly >---select---</option>    
      <option value="normal">Male</option>
      <option value="Disabled">Female</option>
</select>
<label for="Doctor" style="margin-left:5em">Doctor :</label>
<input type="text" tabindex="7">
<input type="checkbox" id="myCheck" style="margin-left:11em" tabindex="8">&nbsp;Credit
<select style="margin-left:.5em" tabindex="9">
  <option value="" readonly >---select---</option>    
  <option value="normal"></option>
  <option value="Disabled"></option>
</select>	


<br>
<label>GST No</label><input type="text" style="margin-left:5em" tabindex="10" >
<label style="margin-left:8.9em">Address</label><input type="text" id="address" style="margin-left:0.1em" tabindex="11"><br>
<label>Mem.Name/ID</label><input type="text" style="margin-left:1.7em" tabindex="12" >
<hr>
<!-- <div>
  <button md-raised-button color="primary" 
  (click)="openDialog()">Example Dialog - Click Me!</button>
</div> -->


<form class="example-form">
  <mat-form-field class="example-full-width" >
    
  <input matInput placeholder="Type Your Item" (keyup)="applyFilter($event.target.value)" [matAutocomplete]="auto" [formControl]="medicineCtrl" tabindex="13" [(ngModel)]="name" id="search">

</mat-form-field> 

    <mat-autocomplete #auto="matAutocomplete" >
      <mat-option  (onSelectionChange)="openDialog()"  *ngFor="let medicines of filteredMedicines | async"   >
         
        <span>{{medicines.Item}}</span> |
        <small>Batch: {{medicines.Batch}}</small>|
        <small>Exp: {{medicines.Exp}}</small>|
        <small>Qty: {{medicines.Qty}}</small>|
        <small>Disc: {{medicines.Disc}}</small>|
        <small>MRP: {{medicines.MRP}}</small>|
        <small>S.Price: {{medicines.S_Price}}</small>|
        <small>Rate: {{medicines.Rate}}</small>|
        <small>Amount: {{medicines.Amount}}</small>|
        <small>Tax%: {{medicines.Tax}}</small>|
        <small>Tax.Amt: {{medicines.TaxAmt}}</small>|
        <small>Tot.Amt: {{medicines.Totalamt}}</small>
      </mat-option>
   </mat-autocomplete>
  

  <br>
  
<br>
  
  
</form>
<br><br>
<br>
<br>
<br>

  <br>
<div class="example-container mat-elevation-z8">
    <!-- <div class="example-header">
        <mat-form-field >
          <input matInput (keyup)="applyFilter($event.target.value)"  value="{{name}}" placeholder="Filter" id="mattable" autofocus >
        </mat-form-field>
      </div> -->
      
  <mat-table #table [dataSource]="dataSource" tabindex="13" id="mattable">

    
    <ng-container matColumnDef="Item">
      <mat-header-cell *matHeaderCellDef> Item </mat-header-cell>
      <mat-cell *matCellDef="let element"> <input  #input type="text" value="{{element.Item}}" readonly style="-webkit-appearance: none;border: none;
        border-color: transparent;"   >
          <!--(keyup.arrowdown)="shiftFocusDown(rowIdx)"  
      (keyup.arrowup)="shiftFocusUp(rowIdx)"
      (keyup.arrowright)="shiftFocusRight(rowIdx)"
      (keyup.arrowleft)="shiftFocusLeft(rowIdx)"  -->
      </mat-cell> 
    </ng-container>

    
    <ng-container matColumnDef="Batch">
      <mat-header-cell *matHeaderCellDef> Batch </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Batch}}</mat-cell>
    </ng-container>

    
    <ng-container matColumnDef="Exp">
      <mat-header-cell *matHeaderCellDef> Exp </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Exp}} </mat-cell>
    </ng-container>

  
    <ng-container matColumnDef="Qty">
      <mat-header-cell *matHeaderCellDef> Qty </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Qty}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Disc">
      <mat-header-cell *matHeaderCellDef> Disc </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Disc}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="MRP">
      <mat-header-cell *matHeaderCellDef> MRP </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.MRP}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="S_Price">
      <mat-header-cell *matHeaderCellDef> S.Price </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.S_Price}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Rate">
      <mat-header-cell *matHeaderCellDef> Rate </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Rate}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Amount">
      <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Amount}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Tax">
      <mat-header-cell *matHeaderCellDef> Tax% </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Tax}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="TaxAmt">
      <mat-header-cell *matHeaderCellDef> Tax.Amt </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.TaxAmt}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Totalamt">
      <mat-header-cell *matHeaderCellDef> Total.Amt </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Totalamt}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <!-- <mat-row *ngFor="let row of rows; let rowIdx = index"></mat-row> -->

    <!-- <mat-table *ngFor="let row of rows; let rowIdx = index"> 
        <mat-table *ngFor="let col of columns; let colIdx = index"> -->
    
    <!-- <mat-row *matRowDef="let row; columns: displayedColumns;" 
         [ngClass]="{'highlight': selectedRowIndex == row.id}"
         (click)="highlight(row)">
</mat-row> -->


  </mat-table>

</div>

<br>



<section>
        <input type="text" name="empty" size="10" value=""  style="float:right;text-align:right" tabindex="15" />
        <label style="float:right;margin-left:5em;">Total Amt</label>
        <input type="text" name="empty" size="10" value=""  style="float:right;text-align:right" tabindex="14"/>
        <label style="float:right">MRP Total</label>
        
        </section>
        <br><br>
        <input type="text" name="empty" size="10" value=""  style="float:right;text-align:right" tabindex="18"/>
        <label style="float:right;margin-left:5em;">Disc Total</label>
        <input type="text" name="empty" size="10" value=""  style="float:right;text-align:right" tabindex="17"/>
        <label style="float:right;margin-left:6em;">Disc Amt</label>
        
        <input type="text" name="empty" size="10" value=""  style="float:right;text-align:right" tabindex="16" />
        <label style="float:right;">Discount %</label>
        <br>
        <br>
        <input type="text" name="empty" size="10" value=""  style="float:right;text-align:right" tabindex="22"/>
        <label style="float:right;margin-left:5.4em;">Total Tax</label>
        <input type="text" name="empty" size="10" value=""  style="float:right;text-align:right" tabindex="21"/>
        <label style="float:right;margin-left:5.4em;">IGST Total</label>
        <input type="text" name="empty" size="10" value=""  style="float:right;text-align:right" tabindex="20"/>
        <label style="float:right;margin-left:5em;">SGST Total</label>
        <input type="text" name="empty" size="10" value=""  style="float:right;text-align:right" tabindex="19"/>
        <label style="float:right">CGST Total</label>
        <br>
        <br>
        <input type="text" name="empty" size="10" value=""  style="float:right;text-align:right;" tabindex="23"/>
        <label style="float:right" >Total Amt</label>
        <br>
        <br>
        <input type="text" name="empty" size="10" value=""  style="float:right;text-align:right" tabindex="26"/>
        <label style="float:right;margin-left:5.6em;" >Net Amt</label>
        <input type="text" name="empty" size="10" value=""  style="float:right;text-align:right" tabindex="25"/>
        <label style="float:right;margin-left:5em;">Tender Cash</label>
        <input type="text" name="empty" size="10" value=""  style="float:right;text-align:right" tabindex="24"/>
        <label style="float:right" >Round off</label>
        <br>
        <br>
        <label>Payment Mode</label>
        <select style="margin-left:.5em" tabindex="27">
          <option value="" readonly >---select---</option>    
          <option value="Card">Card</option>
          <option value="Cash">Cash</option>
        </select><br>
        <label style="margin-right:3.3em">Card No</label><input type="text" tabindex="28">
        
      
        <br>
        <hr>
        <section>
        
        <input type="checkbox" id="myCheck"  tabindex="29"><label style="margin-left:0.5em">Email</label>
        <input type="text" tabindex="30">
        <button type="button" style="float:right" tabindex="33">Cancel</button>
        <button type="button"  style="float:right" onclick="apply()" tabindex="32">Apply</button>
        <button type="button" style="float:right" tabindex="35" tabindex="31">Save&Print</button>
        </section>
        
        </form>