<table id="table">
  <tr>
    <th *ngFor="let col of columns">
      {{col}}
    </th>
  </tr>
  
  <tr *ngFor="let char of characters  | async " (click)="selectCompany($event, char)" 
  [class.highlighted]="char.Item === currentCompany" (click)="selectRow(char)">
  
    <td *ngFor="let col of columns" >
     {{char[col]}}
     <!-- (keyup.arrowdown)="shiftFocusDown(charIdx, colIdx)"  
     (keyup.arrowup)="shiftFocusUp(charIdx, colIdx)"
     (keyup.arrowright)="shiftFocusRight(charIdx, colIdx)"
     (keyup.arrowleft)="shiftFocusLeft(charIdx, colIdx)" -->
     
    
    </td>
  </tr>
</table>
